/* Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* Basic */

body {
    font-family: 'Montserrat', sans-serif;
    background: #fafafa;
}

a {
    color: #333;
    text-decoration: none;
}

a:visited {
    color: #333;
    text-decoration: none;
}

.block--blur {
    pointer-events: none;
    filter: blur(4px);
}

.block--none {
    display: none;
}

/* Header */

.header {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    width: 100%;
    transition: .2s ease-in-out;
}

.header__logo {
    margin: 2em 0 2em;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.h1--logo {
    cursor: pointer;
    font-size: 3.5em;
    width: auto;
    font-weight: 700;
    text-align: center;
}

.h2--title {
    font-size: 1.5em;
    margin-top: 0.2em;
    text-align: center;
}

/* Main */

.main {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
}

.main--container {
    width: 40%;
    max-width: 850px;
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    background: #f3f3f3;
    border-radius: 1em;
    padding: 5% 5%;
    transition: .2s ease-in-out;
}

/* Results */

.main--container .axis:last-child {
    margin-bottom: 0;
}

.axis {
    width: 100%;
    height: 4em;
    margin-bottom: 1em;
    border-radius: .5em;
    overflow: hidden;
}

.axis>div {
    float: left;
    height: 100%;
}

.axis--label {
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    color: #444;
    margin-bottom: .2em;
    display: none;
}

.bars {
    width: calc(100% - 8.25em);
    height: 80%;
    margin-top: .5em;
}

.bars .bar:last-child {
    float: right;
}

.bar {
    height: 80%;
    color: #fafafa;
    font-weight: 600;
    text-align: center;
    line-height: 3.25em;
    float: left;
    box-shadow: 0 0 5px -1px rgba(68, 68, 68, 0.4);
}

.icon {
    width: 2.75em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5em;
    line-height: 2.5em;
    text-align: center;
    border-radius: .2em;
    box-shadow: 0 5px 20px -1px rgba(68, 68, 68, 0.4);
    cursor: pointer;
}

.icon:hover {
    filter: brightness(90%);
    transition: .2s ease-in-out;
}

.icon--notfa {
    width: 2em;
    font-family: Montserrat;
    font-size: 2em;
    line-height: 2em;
}

/* Icons */

.icon--communism {
    color: #fafafa;
    background: #e74c3c;
}

.icon--communism:before {
    content: "☭";
}

.icon--capitalism {
    color: #fff;
    background: #2ecc71;
}

.icon--capitalism:before {
    content: "";
}

.icon--regulationism {
    color: #fafafa;
    background: #cd3944;
}

.icon--regulationism:before {
    content: "";
}

.icon--laissezfaire {
    color: #fff;
    background: #8E44AD;
}

.icon--laissezfaire:before {
    content: "";
}

.icon--anarchism {
    color: #fff;
    background: #34495e;
}

.icon--anarchism:before {
    content: "Ⓐ";
}

.icon--authoritarianism {
    color: #fff;
    background: #3498db;
}

.icon--authoritarianism:before {
    content: "";
}

.icon--pacifism {
    color: #fff;
    background: #6C7A89;
}

.icon--pacifism:before {
    content: "";
}

.icon--militarism {
    color: #fff;
    background: #C3272B;
}

.icon--militarism:before {
    content: "";
}

.icon--environmentalism {
    color: #fff;
    background: #006442;
}

.icon--environmentalism:before {
    content: "";
}

.icon--anthropocentrism {
    color: #fff;
    background: #FFA631;
}

.icon--anthropocentrism:before {
    content: "";
}

.icon--progressivism {
    color: #fff;
    background: #9b59b6;
}

.icon--progressivism:before {
    content: "";
}

.icon--traditionalism {
    color: #fff;
    background: #1abc9c;
}

.icon--traditionalism:before {
    content: "";
}

.icon--cosmopolitanism {
    color: #fff;
    background: #4D8FAC;
}

.icon--cosmopolitanism:before {
    content: "";
}

.icon--nationalism {
    color: #fff;
    background: #f99e35;
}

.icon--nationalism:before {
    content: "";
}

/* Bars */

.bar--grey {
    background: #f5f5f5f5;
    color: #444;
    min-width: 0;
}

.bar--communism {
    background: #c0392b;
}

.bar--capitalism {
    background: #27ae60;
}

.bar--regulationism {
    background: #bc303a;
}

.bar--laissezfaire {
    background: #703688;
}

.bar--anarchism {
    background: #2c3e50;
}

.bar--authoritarianism {
    background: #2980b9;
}

.bar--pacifism {
    background: #56616c;
}

.bar--militarism {
    background: #ae2326;
}

.bar--environmentalism {
    background: #005135;
}

.bar--anthropocentrism {
    background: #e5952c;
}

.bar--progressivism {
    background: #8e44ad;
}

.bar--traditionalism {
    background: #16a085;
}

.bar--cosmopolitanism {
    background: #45809a;
}

.bar--nationalism {
    background: #eb9532;
}

/* Modals */

.modal--info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    height: 30em;
    background: #f5f5f5;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0px 20px -1px rgba(68, 68, 68, 0.4);
}

.modal--wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.info--name {
    width: 70%;
    height: 15%;
    float: left;
    color: #fff;
    font-weight: 600;
    font-size: 2em;
    padding: 0 5%;
    line-height: 2.25em;
}

.info--symbol {
    width: 20%;
    height: 15%;
    float: left;
    font-size: 2em;
    text-align: center;
    line-height: 2.25em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.info--container {
    height: 65%;
    margin-top: 15%;
    padding: 10%;
    font-size: 1.2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Start */

.h2--start {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: .5em;
    font-weight: 600;
}

.p--start {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.main--container .p--start:nth-child(3) {
    margin-bottom: 2em;
}

.div--start {
    padding: 1em;
    width: 7em;
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    color: #fafafa;
    background: #3498db;
    border-radius: .5em;
    cursor: pointer;
    text-align: center;
    margin: auto;
    transition: .2s ease-in-out;
}

.div--start:hover {
    background: #2980b9;
}

/* Quiz */

.quiz__title {
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1em;
    border-bottom: 5px solid #dbdbdb;
    padding-bottom: .3em;
}

.quiz__question {
    width: 100%;
    height: auto;
    font-size: 1.5em;
    text-align: center;
    border-bottom: 5px solid #dbdbdb;
    padding-bottom: 1.8em;
}

.quiz__answers, .quiz__actions {
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 2em;
    text-align: center;
}

.quiz__answer, .quiz__action {
    width: 100%;
    height: 2.5em;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    margin-bottom: .5em;
    color: #fafafa;
    cursor: pointer;
}

.quiz__answers .quiz__answer:nth-child(1) {
    background: #27ae60;
}

.quiz__answers .quiz__answer:nth-child(2) {
    background: #2ecc71;
}

.quiz__answers .quiz__answer:nth-child(3) {
    background: #b0b6ba;
}

.quiz__answers .quiz__answer:nth-child(4) {
    background: #e74c3c;
}

.quiz__answers .quiz__answer:nth-child(5) {
    background: #c0392b;
}

.quiz__actions .quiz__action:nth-child(1) {
    background: #2980b9;
}

.quiz__actions .quiz__action:nth-child(2) {
    background: #8e44ad;
}

.quiz__answer:hover,
.quiz__action:hover {
    filter: brightness(95%);
    transition: .2s ease-in-out;
}

@media only screen and (max-width: 1350px) {
    .main--container {
        width: 50%; 
    }
}

@media only screen and (max-width: 1100px) {
    .main--container {
        width: 70%; 
    }
}

@media only screen and (max-width: 800px) {
    .main--container {
        width: 80%; 
    }
}

@media only screen and (max-width: 650px) {
    .main--container {
        width: 90%;
        border-radius: 0;
    }
    .h1--logo {
        font-size: 3em;
    }
    .h2--title {
        font-size: 1.2em;
    }

    .modal--info {
        width: 100%;
        border-radius: 0;
    }
}